<div>
    <h1>{{Restaurant.name}}'s Dish/Drink</h1>

    <div>
        <a href="/restaurant/{{restaurant._id}}/restaurant/new">Create a new dish/drink</a>
    </div>

    <div>
        <a href="/restaurant">Back to restaurant List/a>
    </div>
    
    {{#each restaurant.BestOf}}
        <div>
            {{this.name}} - {{this.price}}
            <a href="/restaurant/{{../restaurant._id}}/restaurant/{{this._id}}">View</a>
        </div>
    {{/each}}
</div>