<div>
    <h1>{{restaurants.name}}'s BestOf</h1>

    <div>
        <a href="/restaurants/{{restaurant._id}}/bestOf/new">Whats your favorite dish/drink</a>
    </div>

    <div>
        <a href="/restaurants">Back to Restaurants</a>
    </div>
    
    {{#each restaurant.bestOf}}
        <div>
            {{this.name}} - {{this.price}}
            <a href="/restaurants/{{../restaurant._id}}/bestOf/{{this._id}}">View</a>
        </div>
    {{/each}}
</div>