<div>
    {{bestOf.name}} - {{bestOf.price}}
    <a href="/restaurants/{{restaurantId}}/bestOf/{{bestOf._id}}/edit">Edit</a>
    <a href="/restaurants/{{restaurantId}}/bestOf/{{bestOf._id}}/delete">Delete</a>
</div>