<div>
    <h1></h1>

    <h3>Restaurant:</h3>
    <div>
       {{!--  <a href="/Restaurants/new">Add New Restaurant</a> --}}
    </div>
    {{#each Restaurants}}
        <div>
            {{this.name}} - {{this.neighborhood}}
            <a href="/Restaurants/{{this._id}}">{{this.name}} BestOf</a>
            <a href="/Restaurants/{{this._id}}/BestOf">{{this.name}}'s Map</a>
        </div>
    {{/each}}
</div>