<div>
    <h1>{{restaurant.name}}</h1>
    <div>Neighborhood: {{restaurant.neighborhood}}</div>

<h2>Best Of</h2>
    <ul>
       <li>{{restaurant.bestOfs.dishName}}-${{restaurant.bestOfs.dishPrice}}</li>
      <li>{{restaurant.bestOfs.drinkName}}-${{restaurant.bestOfs.drinkPrice}}</li>
    </ul>
    <div>
        <a href="/Restaurants">Back to 
        Restaurants</a>
    </div>
    <div>
        <a href="/Restaurnts/{{restaurant._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/Restaurants/{{restaurant._id}}/delete">Delete</a>
    </div>
    
    
    

</div>
